.App{
    background-color: #4da6ff;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    border: 1px solid white;
    border-radius: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #66ffff;
}
.todo-item{
    color: black;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.complete-btn{
    background-color: green;
    color: white;
}
.trash-btn{
    background-color: red;
    color: white;
}
.todo-container{
    text-align: center;
    border-top: solid white;
    margin-top: 7px;
}
.todo-list{
    display: inline-block;
    text-align: left;
    list-style: none;
    max-width: 500px;
    overflow-wrap: anywhere;
}
.App  h1 {
    font-size: 50px;
    font-family: 'Andale Mono', monospace;
    margin-bottom: -3px;
    border-top: solid white;
}
.todo{
    background-color: rgba(244, 250, 244, 0.65);
    padding: 20px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
}
.todo > li {
    font-size: 25px;
    margin-right: 8px;
    margin-left: 10px;
    font-family: 'DejaVu Sans Mono', monospace;
}
.todo > button{
    margin-right: 2px;
    font-size: 15px;
    border-radius: 5px;
    
}
button:hover{
    opacity: 70%;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(245, 241, 241, 0.02);
}
.todo-button{
    margin-right: 2px;
    font-size: 15px;
    border-radius: 5px;
    padding: 2px;
    width: 30px;
}
.todo-input{
    height: 20px;
    margin-bottom: 5px;
}